[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
docker = "*"
warriorbeatcli = {editable = true, path = "./src"}
tqdm = "*"
pylint = "*"
colorama = "*"
tabulate = "*"
art = "*"
blessed = "*"

[dev-packages]
pylint = "*"
autoflake = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3.7"
